/* styles/Home.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.title {
    font-size: 4em;
    font-weight: bold;
    margin: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
            background-color: #0058c8;
}
