@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}


.map-container{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  height: 90%
}
.places-container{
  position : absolute;
  width: 50%;
  top : 15px  ;
  right: 1%;
  transform : translateX(-50%);
  z-index: 1;
  background: black;
}
/* styles.css */
.matches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.match-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.match-container div {
  margin-bottom: 10px;
}

.button-matches {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
}